---
import BlogList from "../../components/BlogList.astro";
import Splitter from "../../components/Splitter.astro";
import VideoGrid from "../../components/VideoGrid.astro";
import MainLayout from "../../layouts/MainLayout.astro";
import "../../styles/global.css";
---

<MainLayout title="News" description="News Page">
  <div class="headline-section">
    <div class="headline-title font-medium text-4xl sm:text-6xl mb-5">
      Today's Headlines: Stay
    </div>
    <div class="flex flex-col sm:flex-row sm:justify-start sm:items-start">
      <div class="headline-title font-medium text-4xl sm:text-6xl">
        Informed
      </div>
      <div class="headline-subtitle">
        Explore the latest news from around the world. We bring you
        up-to-the-minute updates on the most significant events, trends, and
        stories. <br /> Discover the world through our news coverage.
      </div>
    </div>
  </div>
  <div class="blog-list">
    <div
      class="blog-filter-btns flex justify-center items-center mb-10 flex-wrap"
    >
      <button class="blog-filter-btn w-40">All</button>
      <button class="blog-filter-btn w-40">Technology</button>
      <button class="blog-filter-btn w-40">Politics</button>
      <button class="blog-filter-btn w-40">Health</button>
      <button class="blog-filter-btn w-40">Environment</button>
      <button class="blog-filter-btn w-40">Sports</button>
    </div>
    <BlogList />
  </div>
  <Splitter title="Featured Videos" goTo="View All" goToDisplay={true}>
    Visual Insights for the Modern Viewer
  </Splitter>
  <VideoGrid />

  <style>
    .headline-section {
      padding: 20px;
      color: white;
      width: 95%;
      margin: auto;
    }
    .headline-title {
      font-family: "Kumbh Sans", sans-serif;
    }
    .headline-subtitle {
      font-size: 1rem;
      color: var(--color-grey-60);
      font-family: "Inter", sans-serif;
      margin: 10px;
    }

    @media (min-width: 640px) {
      .sm\:text-6xl {
        font-size: 3.5rem;
        line-height: 1;
      }
      .headline-section {
        padding: 50px;
      }
    }

    .blog-list {
      width: 95%;
      margin: auto;
    }
    /* .blog-filter-btns {
      overflow-x: scroll;
    } */
    .blog-filter-btn {
      border: 0.2px solid var(--color-dark-20);
      border-radius: 5px;
      color: var(--color-grey-60);
      background-color: var(--color-dark-10);
      padding: 10px 20px;
      margin-left: 50px;
      margin-bottom: 10px;
    }
    .blog-filter-btn:hover {
      background-color: var(--color-dark-20);
      color: var(--color-grey-70);
    }
    .blog-filter-btn.active {
      color: var(--color-white);
      background-color: var(--color-dark-08);
    }
  </style>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const blogBtns = document.querySelectorAll(".blog-filter-btn");
      const postCards = document.querySelectorAll(".post-card");

      function setActiveLink(this: HTMLElement) {
        blogBtns.forEach((btn) => btn.classList.remove("active"));
        this.classList.add("active");

        const category = this.textContent?.toLowerCase() || "";
        postCards.forEach((card) => {
          const cardCategory = (
            card as HTMLElement
          ).dataset.category?.toLowerCase();
          if (category === "all" || cardCategory === category) {
            (card as HTMLElement).style.display = "flex";
          } else {
            (card as HTMLElement).style.display = "none";
          }
        });
      }

      blogBtns.forEach((btn) => btn.addEventListener("click", setActiveLink));
    });
  </script>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const blogBtn = document.querySelectorAll(".blog-filter-btn");

      function setActiveLink(this: HTMLElement) {
        blogBtn.forEach((link) => link.classList.remove("active"));
        this.classList.add("active");
      }

      blogBtn.forEach((link) =>
        link.addEventListener("click", function (this: HTMLElement) {
          setActiveLink.call(this);
        })
      );
    });
  </script>
</MainLayout>
