---

---

<link
  href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css"
  rel="stylesheet"
/>

<footer class="bottom-0  w-full text-sm">
  <div
    class=" bottom-info p-32 bg-zinc-900  border-neutral-800  "
  >
    <div class="bottom-container justify-center items-center inline-flex">
      <img src="../src/assets/images/icon.png" class="bottom-logo" alt="" />
  
      <div
        class="grow shrink basis-0 flex-col justify-center items-start gap-[30px] inline-flex"
      >
        <div
          class="self-stretch  flex-col justify-center items-start gap-4 flex "
        >
          <div
            class=" bg-zinc-800 rounded justify-center items-start gap-2.5 inline-flex"
          >
            <div class="learn text-white font-['Inter'] p-1">
              Learn, Connect, and Innovate
            </div>
          </div>
          <div
          class="part text-3xl sm:text-4xl md:text-5xl lg:text-6xl text-white my-6"
          >
            Be Part of the AI Revolution
          </div>
        </div>
        <div class="immerse self-stretch text-zinc-500 font-['Inter'] ">
          Immerse yourself in the world of future technology. Explore our
          comprehensive resources, connect with fellow tech enthusiasts, and drive
          innovation in the industry. Join a dynamic community of
          forward-thinkers.
        </div>
      </div>
    </div>
    <div
      class="sources-container self-stretch p-5  rounded-xl 0 justify-start items-start gap-5 inline-flex flex-col sm:flex-row "
    >
      <div
        class="source grow shrink basis-0 rounded-xl  flex-col justify-start gap-5 inline-flex p-5"
      >
        <div class="self-stretch justify-start items-center gap-5 inline-flex">
          <h6
            class="grow shrink basis-0 text-white font-['Inter'] leading-[33px]"
          >
            Resource Access
          </h6>
          <div
            class="p-1 circle rounded-full justify-start items-start gap-2.5 flex"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 cursor-pointer"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25"></path>
            </svg>
          </div>
        </div>
        <p class="self-stretch text-neutral-400 font-['Inter'] leading-[27px]">
          Visitors can access a wide range of resources, including ebooks,
          whitepapers, reports.
        </p>
      </div>
      <div
        class=" source grow shrink basis-0 rounded-xl   flex-col justify-start gap-5 inline-flex p-5"
      >
        <div class="self-stretch justify-start items-center gap-5 inline-flex">
          <h6
            class="grow shrink basis-0 text-white font-['Inter'] leading-[33px]"
          >
            Community Forum
          </h6>
          <div
            class="p-1 circle rounded-full justify-start items-start gap-2.5 flex"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 cursor-pointer"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25"></path>
            </svg>
          </div>
        </div>
        <p class="self-stretch text-neutral-400 font-['Inter'] leading-[27px]">
          Join our active community forum to discuss industry trends, share
          insights, and collaborate with peers.
        </p>
      </div>
      <div
        class="source grow shrink basis-0 rounded-xl  flex-col justify-start gap-5 inline-flex p-5"
      >
        <div class="self-stretch justify-start items-center gap-5 inline-flex">
          <h6
            class="grow shrink basis-0 text-white font-['Inter'] leading-[33px]"
          >
            Tech Events
          </h6>
          <div
            class="p-1 circle rounded-full justify-start items-start gap-2.5 flex"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 cursor-pointer"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25"></path>
            </svg>
          </div>
        </div>
        <p class="self-stretch text-neutral-400 font-['Inter'] leading-[27px]">
          Stay updated on upcoming tech events, webinars, and conferences to
          enhance your knowledge.
        </p>
      </div>
    </div>
  </div>
  <div class="mx-auto w-full max-w-screen-xl">
    <div
      class="links-container gap-8 px-4 py-6 grid grid-cols-2 md:grid-cols-4"
    >
      <div>
        <h2 class="mb-6 text-sm font-semibold link-title">Home</h2>
        <ul>
          <li class="mb-4">
            <a href="#" class="hover:underline">Features</a>
          </li>
          <li class="mb-4">
            <a href="#" class="hover:underline">Blogs</a>
          </li>
          <li class="mb-4">
            <a href="#" class="hover:underline"
              >Resources<span
                class="new-icon text-white border rounded p-1 font-light px-2 border-gray-800 ml-1 sm:text-xsm"
                >New</span
              ></a
            >
          </li>
          <li class="mb-4">
            <a href="#" class="hover:underline">Testimonials</a>
          </li>
          <li class="mb-4">
            <a href="#" class="hover:underline">Contact US</a>
          </li>
          <li class="mb-4">
            <a href="#" class="hover:underline">Newsletter</a>
          </li>
        </ul>
      </div>
      <!-- <div>
        <h2 class="mb-6 text-sm font-semibold link-title">News</h2>
        <ul class="font-medium">
          <li class="mb-4">
            <a href="#" class="hover:underline">Trending Stories</a>
          </li>
          <li class="mb-4">
            <a href="#" class="hover:underline">Featured Videos</a>
          </li>
          <li class="mb-4">
            <a href="#" class="hover:underline">Technology</a>
          </li>
          <li class="mb-4">
            <a href="#" class="hover:underline">Health</a>
          </li>
          <li class="mb-4">
            <a href="#" class="hover:underline">Politics</a>
          </li>
          <li class="mb-4">
            <a href="#" class="hover:underline">Environment</a>
          </li>
        </ul>
      </div> -->
      <div>
        <h2 class="mb-6 text-sm font-semibold link-title">Blogs</h2>
        <ul>
          <li class="mb-4">
            <a href="#" class="hover:underline">Quantum Computing</a>
          </li>
          <li class="mb-4">
            <a href="#" class="hover:underline">AI Ethics</a>
          </li>
          <li class="mb-4">
            <a href="#" class="hover:underline">Space Exploration</a>
          </li>
          <li class="mb-4">
            <a href="#" class="hover:underline"
              >Biotechnology <span
                class="new-icon text-white border rounded p-1 font-light px-2 border-gray-800 ml-1"
                >New</span
              ></a
            >
          </li>
          <li class="mb-4">
            <a href="#" class="hover:underline">Renewable Energy</a>
          </li>
          <li class="mb-4">
            <a href="#" class="hover:underline">Biohacking</a>
          </li>
        </ul>
      </div>
      <div>
        <h2 class="mb-6 text-sm font-semibold link-title">Podcasts</h2>
        <ul>
          <li class="mb-4">
            <a href="#" class="hover:underline">AI Revolution</a>
          </li>
          <li class="mb-4">
            <a href="#" class="hover:underline"
              >AI Revolution <span
                class="new-icon text-white border rounded p-1 font-light px-2 border-gray-800 ml-1"
                >New</span
              ></a
            >
          </li>
          <li class="mb-4">
            <a href="#" class="hover:underline">TechTalk AI</a>
          </li>
          <li class="mb-4">
            <a href="#" class="hover:underline">AI Conversations</a>
          </li>
        </ul>
      </div>
      <div>
        <h2 class="mb-6 text-sm font-semibold link-title">Resources</h2>
        <ul>
          <li class="mb-4 flex resource">
            <a href="#" class="hover:underline">Whitepapers</a>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 ml-3 cursor-pointer"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25"></path>
            </svg>
          </li>
          <li class="mb-4 flex resource">
            <a href="#" class="hover:underline">Ebooks</a>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 ml-3 cursor-pointer"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25"></path>
            </svg>
          </li>
          <li class="mb-4 flex resource">
            <a href="#" class="hover:underline">Reports</a>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 ml-3 cursor-pointer"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25"></path>
            </svg>
          </li>
          <li class="mb-4 flex resource">
            <a href="#" class="hover:underline">Research Papers</a>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 ml-3 cursor-pointer"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25"></path>
            </svg>
          </li>
        </ul>
      </div>
    </div>
    <div class="icons px-4 py-6 flex items-center justify-between">
      <div class="bottom-text sm:m-auto">
        <span class="text-sm sm:text-center">Terms & Conditions</span>
        <span>|</span>
        <span class="text-sm sm:text-center">Privacy Policy</span>
      </div>
      <div
        class="flex mt-4 sm:justify-center md:mt-0 space-x-5 rtl:space-x-reverse sm:m-auto"
      >
        <a href="#">
          <img src="../src/assets/icons/twitter.png" alt="twitter" />
        </a>
        <a href="#">
          <img src="../src/assets/icons/linkedin.png" alt="linkedin" />
        </a>
        <a href="#">
          <img src="../src/assets/icons/thing.png" alt="thing" />
        </a>
      </div>
      <span class="text-sm sm:text-center bottom-text sm:m-auto"
        >© 2024 AkeraAI LLC. All Rights Reserved.</span
      >
    </div>
  </div>
</footer>

<style>
  li {
    color: var(--color-dark-40);
    font-weight: 400;
    font-size: 14px;
  }

  li svg {
    color: var(--color-yellow-55);
  }
  h6{
    font-weight: 600;
    font-size: 18px;
  }
</style>

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"
></script>
