---
interface Props {
  name?: string;
  location?: string;
  img?: string;
}
const {
  name = "John Doe",
  location = "USA",
  img = "src/assets/images/profile.png",
} = Astro.props as Props;

import "../styles/global.css";
---


<div class="testimonial-card flex flex-col justify-center items-center">
  <div class="flex items-center mb-8">
    <img
      src={img}
      alt="Sarah Thompson"
      class="h-12 w-12 rounded-full mr-5"
    />
    <div class="ml-4">
      <h3 class="text-lg font-['Inter']">{name}</h3>
      <p class="location-testimonial text-sm ">{location}</p>
    </div>
  </div>
  <div class="testimonial-content flex flex-col justify-center items-center  ">
    <div class="rating-stars rounded-full">★★★★★</div>
    <p class="text-center">
      <slot/>
    </p>
  </div>
</div>




<style>
  .testimonial-card {
    background-color: var(--color-dark-08);
    border-radius: 8px;
    padding: 20px;
  }
  .testimonial-content {
    background-color: var(--color-dark-10);
    border-radius: 8px;
    padding: 20px;
    margin-top: 10px;
    border: 1px solid var(--color-dark-20);
  }
  .testimonial-content p {
    color: var(--color-white);
  }
  .rating-stars {
    color: var(--color-yellow-55);
    background-color: var(--color-dark-08);
    width: fit-content;
    padding: 1px 10px;
    font-size: 25px;
    border: 1px solid var(--color-dark-20);
    transform: translate(0, -100%);
    margin-bottom: -30px;
  }
  .location-testimonial{
    color: var(--color-dark-40);
  }
</style>
